<h1>Mitigation team</h1>
<mat-divider></mat-divider>
<br />

<mat-card class="content-title">
  <mat-card-title>Personal in charge</mat-card-title>
</mat-card>
<br />

   <!-- Register Block -->
   <div class="col-lg-4">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text">
        <mat-icon>view_module</mat-icon>
      </span>
      <input type="text" class="form-control" readonly />
    </div>
  </div>

<!-- Tipo de reporte -->

<div class="row">
  <div class="col-lg-4">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text">
        <mat-icon>whatshot</mat-icon>
      </span>
      <select formControlName="Plague" class="form-select">
        <option disabled selected value="">Plaga</option>
        <option></option>
      </select>
    </div>
  </div>

   

   <!-- Register Date -->

   <div class="col-lg-4">
    <div class="input-group input-group-lg mb-3">
      <span class="input-group-text">
        <mat-icon>person_outline</mat-icon>
      </span>
      <input
        formControlName="Date"
        type="datetime-local"
        class="form-control"
        placeholder="Fecha"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <!-- Register Location -->

      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <mat-icon>video_label</mat-icon>
        </span>
        <select formControlName="Location" class="form-select">
          <option disabled selected value="">Ubicación</option>
          <option></option>
        </select>
      </div>
    </div>

    <!-- Register Block -->
    <div class="col-lg-2">
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <mat-icon>view_module</mat-icon>
        </span>
        <input type="text" class="form-control" readonly />
      </div>
    </div>

    <!-- Register Ship -->

    <div class="col-lg-3">
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <mat-icon>view_quilt</mat-icon>
        </span>
        <input type="text" class="form-control" readonly />
      </div>
    </div>

    <!-- Register Bed -->

    <div class="col-lg-4">
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <mat-icon>view_week</mat-icon>
        </span>
        <input type="number" class="form-control" readonly />
        <input type="text" class="form-control" readonly />
      </div>
    </div>
  </div>

 
  <div class="d-grid gap-2">
    <button
      [disabled]="this.form.invalid"
      type="submit"
      class="btn btn-success btn-lg"
    >
      <i> Agregar</i>
    </button>
  </div>

  <div>
    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="tittle">Registros Recientes</h5>
          <table class="table">
            <thead>
              <th>ID</th>
              <th>Fecha</th>
              <th>hora</th>
              <th>zone</th>
              <th>solution</th>
              <th>Completado</th>
            </thead>
            <tbody>
              <tr *ngFor="let element of activitiesList">
                <td>{{ element.planID }}</td>
                <td>{{ element.planChemical }}</td>
                <td>{{ element.planDate }}</td>
                <td>{{ element.bedID }}</td>
                <td>{{ element.supervisorID }}</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="flexSwitchCheckDefault"
                    />
                    <label
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                    ></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
